html {
    text-align: center;
    font-size: 25px;
    color: rgb(255, 219, 58);
    font-family: "Roboto", sans-serif;
}
body{
    background: url(Pgimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    line-height: 1.5;
    overflow: hidden;
}
header{
    background: center / cover url(hd.jpg);
    position: fixed;
    top: 0px;
    height: 90px;
    background-position: center;
    background-size: cover;
    width: 99.3%;
}
.Eng {
    display: inline-block;
    position: absolute;
    left: 8px;
    top: 7px;
    height: 80%;
    border: 3px solid #142961;
    border-radius: 150px;
    background-color: #446ee0;
    transition-duration: 0.3s;
}
.Eng img {
    max-height: 50px;
    visibility: visible;
    padding-top: 7px;
}
.Eng:hover{
    border-color:  #9466e9;
    background-color: #7d96dd;
}
.btnMain {
    display: inline-block;
    visibility: hidden;
    cursor: pointer;
    z-index: 2;
}
.Eng a{
    display: block;
    color: rgb(160, 162, 255);
    text-decoration: none;
    font-size: 30px;
    padding: 10px 15px;
    text-align: left;
    border-bottom: 2px solid #135f5b;
    background-color: #812085;
    text-shadow: 1px 1px 3px #093533;
    box-shadow: inset 1px 1px 5px #2a4eaf;
}
.drop {
    display: none;
    position: absolute;
    background-color: #81116f;
    top: 83px;
    left: -14px;
    min-width: 100px;
    box-shadow: 1px 1px 1px #000;
    z-index: 1;
    min-height: 3000px;
    box-shadow: 5px 5px 20px #4c3fff;
}
.show {
    display:block;
}
.drop a:hover {
    transition-duration: 0.3s;
    background-color: #b381eb;
}
.head {
    border: 3px solid rgb(124, 88, 223);
    right: 0px;
    left: 0px;
}
#pongBoard {
    margin: 0 auto;
    margin-top: 140px;
    background: rgb(0, 0, 0);
    border: 3px solid;
    border-image:   linear-gradient(to right,blue 30%, rgb(255, 0, 98) 55%, red 50%) 1;
    cursor: url(alvo.png), auto;
}
#pongScore {
    font-size: 75px;
    color: rgb(158, 229, 206);
    text-shadow: 3px 3px 3px #4c75e6;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
#resetPong {
    font-size: 40px;
    transition-duration: 0.3s;
    border: 3px solid #88a4f1;
    background-color: #b5c9ff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 20px;
    color: rgb(16, 91, 134);
    width: 180px;
    height: 60px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
#resetPong:hover {
    box-shadow: 3px 3px 3px #4c3fff;
    border: 3px solid #3d6be9;
    color: rgb(18, 134, 201);
}
#pontos {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    height: 100px;
    width: 50%;
    align-items: center;
    background-color: #142961;
    border: 3px solid #3d6be9;
    border-radius: 150px;
    box-shadow: 5px 5px 5px #4c3fff;
}
#computerScore {
    font-size: 75px;
    color: rgb(158, 229, 206);
    text-shadow: 3px 3px 3px #e64c4c;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.modo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    color: #6258eb;
    text-shadow: 1px 1px 5px rgba(214, 116, 206, 0.7);
    margin-top: 20px;
}
#twop {
    appearance: none;
    cursor: pointer;
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
    margin: 15px;
    border-radius : 10px;
    height: 15px;
    width: 15px;
    box-shadow: inset 1px 1px 5px rgb(158, 28, 158);
    background-color: #4c4977;
    border: 1px solid #eb2929;
}
#twop:checked {
    background: url("https://cdn-icons-png.flaticon.com/512/6819/6819287.png");
    background-position: center;
    background-size: cover;
}