.titulo{
   text-emphasis-color:#b12929 ; 
   text-align: center;
   padding-top: 110px;
   text-shadow: 1px 1px 1px 	black;
}
.tit2{
    text-align: center;
    text-shadow: 1px 1px 1px 	black;
    font-size: 40px;
}
.tit3{
    text-align: center;
    text-shadow: 1px 1px 1px 	black;
    font-size: 45px;
}
.tit4{
    text-align: center;
    text-shadow: 1px 1px 1px 	black;
    font-size: 35px;
}
.tit5{
    text-align: center;
    text-shadow: 1px 1px 1px 	black;
    font-size: 35px;
}
.tit6{
    text-align: center;
    text-shadow: 1px 1px 1px 	black;
    font-size: 35px;
}
.tit7{
    text-align: center;
    text-shadow: 1px 1px 1px 	black;
    font-size: 35px;
}
.tit8{
    text-align: center;
    text-shadow: 1px 1px 1px 	black;
    font-size: 35px;
}
#tecimg {
    margin: 0 auto;
    display: block;
    height: 200px;
    border: 2px solid rgb(195, 226, 40);
}
.subt {
    display: flex;
    justify-content: center;
    text-align: center;
    text-shadow: 1px 1px 1px 	black;
}
.head {
    background-color: rgb(92, 218, 218);
    border: 3px solid rgb(188, 246, 82);
    right: 0px;
    left: 0px;
}
body{
    background: center / cover url(mainback.jpg);
    margin: 0;
    line-height: 1.5;
}
header{
    background: center / cover url(head.jpg);
    position: fixed;
    top: 0px;
    height: 90px;
}
html {
    text-align: center;
    font-size: 25px;
    color: rgb(255, 225, 52);
    font-family: "Roboto", sans-serif;
}
p {
    color: rgb(179, 226, 118);
    margin-left: 80px;
    margin-right: 80px;
}
.Eng {
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 7px;
}
.Eng img {
    max-height: 70px;
    visibility: visible;
}
.btnMain {
    display: inline-block;
    visibility: hidden;
    cursor: pointer;
    z-index: 2;
}
.Eng a{
    display: block;
    color: rgb(99, 57, 10);
    text-decoration: none;
    font-size: 30px;
    padding: 10px 15px;
    text-align: left;
    border: 1px solid #d69739;
}
.drop {
    display: none;
    position: absolute;
    background-color: rgb(247, 235, 59);
    left: -5px;
    min-width: 100px;
    box-shadow: 1px 1px 1px #000;
    z-index: 1;
    min-height: 3000px;
}
.show {
    display:block;
}
.drop a:hover {
    background-color: #c8cf45;
}
.Linha {
    max-width: auto;
    height: 5px;
    background-color: #a88011;
    border-color: #39adad;
    margin-top: 70px;
    margin-bottom: 60px;
    transition-duration: 0.5s;
}
.Ft {
    border: 3px solid #a88011;
    font-size: 15px;
    padding: 50px;
    padding-bottom: 20px;
    color: #e4b432;
    margin-top: 100px;
    background: center / cover url(ftr.jpg);
    text-shadow: 2px 2px 2px #000; 
}
#ftimg {
    height: 150px;
    margin: 0;
}